:root {
  --primary: #323232;
  --secondary: #d9d9d9;
  --border: #d9d9d9;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

p {
  margin-bottom: 10px;
}

.container {
  max-width: 1160px;
  padding-left: 40px;
  padding-right: 40px;
}

.herosection {
  margin-top: 10px;
  padding-bottom: 40px;
}

.heropname {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  display: none;
}

.heading {
  z-index: 1;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 56px;
  font-weight: 300;
  line-height: 60px;
}

.div-block {
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 175px;
  font-weight: 300;
  display: flex;
}

.herop {
  width: 95%;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 36px;
}

.primarybtn {
  background-color: var(--primary);
  border-radius: 10px;
  align-self: center;
  font-weight: 600;
}

.secondarybtn {
  background-color: var(--secondary);
  color: #323232;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
}

.div-block-2 {
  align-self: center;
}

.div-block-3 {
  width: 60vw;
  margin-left: 60px;
}

.div-block-4 {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  display: block;
}

.container-2 {
  justify-content: flex-start;
  align-items: center;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.paragraph-3 {
  color: #1f1f1f;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0;
  font-size: 20px;
  font-weight: 400;
}

.brand {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.brand.w--current {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-menu {
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  display: flex;
}

.navbar {
  background-color: #ddd0;
  width: 1160px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.nav-link {
  font-size: 15px;
  font-weight: 300;
}

.nav-link.w--current {
  color: #333;
}

.section {
  margin-top: 140px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.projectsection {
  margin-bottom: 100px;
}

.section.darksection {
  background-color: #f5f5f5;
}

.heading2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 300;
  line-height: 60px;
}

.workgrid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 60px;
  display: grid;
  position: static;
}

.outerdiv {
  background-color: var(--border);
  border-radius: 10px;
  margin-top: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.innerdiv {
  background-color: #fff;
  border-radius: 10px;
  margin: 0 15px;
}

.innerdiv.bluebg {
  background-color: #2196f5;
}

.projectdiv {
  margin-bottom: 130px;
}

.p {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 35px;
}

.p.centeredp, .p.centeredp-copy {
  text-align: center;
}

.p.ctap {
  width: 75%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.div-block-5 {
  flex-flow: column;
  min-height: 225px;
  margin-left: 0;
  display: flex;
}

.heading3 {
  font-size: 32px;
  font-weight: 300;
  line-height: 38px;
}

.heading3.centeredheading {
  text-align: center;
}

.paragraph-5 {
  font-size: 20px;
  line-height: 35px;
}

.div-block-6 {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 55px;
}

.footer-dark {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 40px 15px;
  position: relative;
}

.container-3 {
  width: 100%;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper {
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-brand {
  align-self: auto;
  margin-bottom: 0;
  text-decoration: none;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-left: 40px;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  letter-spacing: 1px;
  text-transform: none;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: #1a1b1fbf;
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.footerbrandtext {
  color: #333;
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.div-block-7 {
  display: flex;
}

.image {
  width: 30px;
  height: 30px;
}

.socialicon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.paragraph-6 {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 300;
}

.skillgrid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 10px 20px 10px 0;
  display: grid;
}

.skill {
  font-size: 18px;
  font-weight: 300;
}

.image-2, .image-3, .image-4 {
  border-radius: 10px;
}

.worklogo {
  border-radius: 5px;
  max-height: 330px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 0 2px 5px #0003;
}

.projectimg {
  border-radius: 5px;
  box-shadow: 0 2px 5px #0003;
}

.image-5 {
  max-width: 35vw;
}

.div-block-8 {
  margin-top: 140px;
  display: flex;
}

.proejctimg {
  border: 15px solid var(--border);
  border-radius: 10px;
}

.form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.submit-button {
  width: 100%;
  display: block;
}

.submit-button.primarybtn {
  margin-top: 0;
}

.form-block {
  margin-top: 0;
  padding-top: 15px;
}

.text-field {
  border-radius: 5px;
}

.textarea {
  border-radius: 5px;
  min-height: 100px;
}

.dropdownlink {
  color: #fff;
  background-color: #323232;
  border: 2px #757575;
  transition: all .2s;
}

.dropdownlink:hover {
  color: #323232;
  background-color: #fff;
}

.dropdownlink.lastdropdownlink {
  color: #fff;
  background-color: #323232;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.dropdownlink.lastdropdownlink:hover {
  color: #323232;
  background-color: #fff;
}

.dropdownlink.overflowlink {
  border-top-right-radius: 5px;
}

.dropdownlink.overflowlink.roundbottom, .dropdownlink.roundbottom {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.dropdown-toggle {
  background-color: #0000;
}

.dropdown-toggle:hover {
  background-color: #0000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dropdown-toggle:active {
  color: #333;
  background-color: #0000;
}

.dropdown-toggle.w--open {
  color: #fff;
  background-color: #323232;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dropdown-list {
  border-radius: 5px;
}

.dropdown-list.w--open {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.h1subpage {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 100px;
  font-weight: 600;
  line-height: 105px;
}

.locationdiv {
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
}

.locationdiv.firstlocationdiv {
  justify-content: center;
  margin-top: 100px;
}

.image-7 {
  margin-left: 0;
}

.div-block-9 {
  max-width: 45vw;
  margin-left: 100px;
}

.div-block-9.marginright {
  max-width: 45vw;
  margin-left: 0;
  margin-right: 100px;
}

.div-block-9.marginleft {
  max-width: 75vw;
  margin-left: 60px;
}

.socialproofdiv {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  max-width: 75%;
  margin: 60px auto 60px 0;
  display: grid;
}

.badgeimg {
  cursor: pointer;
  max-width: 125px;
  transition: transform .1s;
}

.badgeimg:hover {
  transform: scale(1.1);
}

.storydiv {
  padding: 10px 20px 10px 0;
}

.div-block-10 {
  padding-top: 10px;
}

.imagevert {
  max-height: 40vw;
  margin-left: 0;
}

.image-8 {
  margin-left: 20px;
}

.mobilebrand {
  height: 100%;
  display: none;
}

.mobilebrand.w--current {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.smallerimg {
  max-width: 45%;
  margin-left: 0;
}

.casestudycontainer {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.casestudytext {
  margin-left: 60px;
}

.image-9 {
  width: 35vw;
}

.casestudyimg {
  border-radius: 10px;
  width: 25vw;
  max-width: 40vw;
}

.localimage {
  border-radius: 10px;
}

.image-10 {
  border-radius: 999px;
  max-height: 600px;
}

.toolsection {
  margin-top: 40px;
}

.toolsection.projectsection {
  margin-bottom: 100px;
}

.toolsection.darksection {
  background-color: #f5f5f5;
}

.card {
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  margin-bottom: 40px;
  box-shadow: 0 2px 5px #0003;
}

.div-block-14 {
  background-color: #fff;
  border-radius: 999px;
  margin-top: -30px;
  padding: 10px;
  display: inline-block;
  box-shadow: 0 2px 5px 2px #0003;
}

.image-11 {
  width: 55px;
}

.cardheader {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 0;
}

.cardheadertext {
  text-align: left;
  font-size: 30px;
  font-weight: 300;
  line-height: 34px;
}

.icontextcontainer {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
}

.problemicon {
  width: 20px;
  margin-left: 0;
}

.probagitationtext {
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 300;
}

.div-block-15 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  display: flex;
}

.div-block-15.topmargin {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 150px;
}

.list-item {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 300;
  list-style-type: decimal;
}

.boldp {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
}

.boldp.centeredp, .boldp.centeredp-copy {
  text-align: center;
}

.boldp.ctap {
  width: 75%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.div-block-16 {
  padding-right: 60px;
}

.image-12 {
  border-radius: 5px;
  width: 40vw;
  display: block;
  box-shadow: 0 2px 5px #0003;
}

.div-block-17 {
  margin-left: 0;
}

.image-13 {
  border-radius: 5px;
  box-shadow: 0 2px 5px #0003;
}

.div-block-18 {
  margin-left: 0;
}

.image-14 {
  border-radius: 5px;
  box-shadow: 0 2px 5px #0003;
}

.div-block-19 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 40px;
  display: grid;
}

.image-15 {
  border-radius: 5px;
  box-shadow: 0 2px 5px #0003;
}

.div-block-20 {
  padding-right: 60px;
}

.div-block-21 {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.image-16 {
  margin-right: 20px;
}

.processdiv {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
  display: grid;
}

.processdiv.topmargin {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 150px;
}

.div-block-22 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-top: 40px;
  display: grid;
}

.div-block-23 {
  margin-bottom: 60px;
  padding-right: 60px;
}

.div-block-24 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 40px;
  display: grid;
}

.image-17 {
  border-radius: 999px;
  box-shadow: 0 2px 5px #0003;
}

.div-block-25 {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.image-18, .image-19 {
  border-radius: 999px;
  box-shadow: 0 2px 5px #0003;
}

.div-block-26, .div-block-27, .div-block-28, .div-block-29, .div-block-30, .div-block-31 {
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.heading-2, .heading-3, .heading-4, .heading-5 {
  font-weight: 400;
}

.div-block-32, .div-block-33, .div-block-34 {
  margin-top: auto;
}

.smallersection {
  margin-top: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.smallersection.projectsection {
  margin-bottom: 100px;
}

.smallersection.darksection {
  background-color: #f5f5f5;
}

.list {
  margin-left: 40px;
  list-style-type: decimal;
}

.div-block-38 {
  margin-left: 40px;
}

.div-block-39 {
  margin-bottom: 20px;
  margin-left: 40px;
}

.div-block-40 {
  margin-top: 60px;
}

.list-item-2 {
  margin-top: 30px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 300;
  list-style-type: decimal;
}

.div-block-41 {
  margin-top: 40px;
}

.div-block-42 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  display: flex;
}

.image-21 {
  float: right;
  border-radius: 5px;
  max-width: 30%;
  margin-left: 40px;
  box-shadow: 0 2px 5px #0003;
}

.strategyimg {
  float: left;
  border-radius: 5px;
  max-width: 36%;
  margin-left: 0;
  margin-right: 40px;
  box-shadow: 0 2px 5px #0003;
}

.blogsection {
  margin-top: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.blogsection.projectsection {
  margin-bottom: 100px;
}

.blogsection.darksection {
  background-color: #f5f5f5;
}

.blogheading2 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 300;
  line-height: 60px;
}

.blogheading3 {
  margin-top: 40px;
  font-size: 28px;
  font-weight: 300;
  line-height: 38px;
}

.blogheading3.centeredheading {
  text-align: center;
}

.strategyimg2 {
  float: left;
  border-radius: 5px;
  max-width: 30%;
  margin-left: 0;
  margin-right: 40px;
  box-shadow: 0 2px 5px #0003;
}

.image-22 {
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
  display: block;
}

.image-23 {
  border-radius: 5px;
  margin-top: 60px;
  display: block;
  box-shadow: 0 2px 5px #0003;
}

.greycontainer {
  background-color: #c7c7c7;
  max-width: 1160px;
  padding-left: 40px;
  padding-right: 40px;
}

.div-block-43 {
  max-width: 35vw;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.testimonialcontainer {
  justify-content: flex-start;
  align-items: center;
  margin: 20px 40px;
  display: flex;
}

.link {
  color: #3580db;
}

.div-block-44 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.mainimage {
  border-radius: 5px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 0 2px 5px #0003;
}

.div-block-45 {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.maintext {
  text-align: center;
  max-width: 80%;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.secondaryimage {
  border-radius: 5px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 0 2px 5px #0003;
}

.textrightblock {
  margin-right: 0;
}

.div-block-47 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
  display: flex;
}

.code-embed {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 991px) {
  .container {
    width: 95vw;
  }

  .heropname {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 24px;
  }

  .div-block {
    flex-flow: column;
  }

  .herop {
    width: 100%;
    font-size: 22px;
  }

  .div-block-2 {
    max-width: 100%;
  }

  .div-block-3 {
    width: 80vw;
    margin-left: 0;
  }

  .brand {
    display: none;
  }

  .brand.w--current {
    width: 100%;
  }

  .nav-menu {
    color: #5e5e5e;
    background-color: #ebebeb;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
    padding-bottom: 10px;
  }

  .navbar {
    width: 100vw;
  }

  .p {
    max-width: 95vw;
  }

  .div-block-5 {
    min-height: 305px;
  }

  .container-3 {
    max-width: 728px;
  }

  .footer-wrapper {
    justify-content: space-around;
  }

  .footer-content {
    grid-column-gap: 60px;
    grid-template-columns: auto auto;
  }

  .skillgrid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .image-5 {
    max-width: 60vw;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .icon {
    color: #5e5e5e;
  }

  .menu-button {
    background-color: #0000;
  }

  .menu-button.w--open {
    background-color: #ebebeb00;
  }

  .form {
    width: 100%;
  }

  .h1subpage {
    font-size: 78px;
    line-height: 90px;
  }

  .image-7 {
    max-width: 35vw;
  }

  .div-block-9 {
    max-width: 50vw;
  }

  .socialproofdiv {
    grid-template-columns: 1fr 1fr;
  }

  .image-8 {
    margin-top: 60px;
    margin-left: 0;
  }

  .mobilebrand {
    display: block;
  }

  .dropdown, .dropdown-2 {
    width: 100%;
  }

  .smallerimg {
    max-width: 35vw;
  }

  .casestudycontainer {
    flex-flow: column;
  }

  .casestudyimg {
    width: 60vw;
    max-width: 60vw;
  }

  .div-block-15 {
    grid-template-columns: 1fr 1fr 1fr;
    display: block;
  }

  .boldp {
    max-width: 70vw;
  }

  .div-block-16 {
    max-width: 95vw;
  }

  .image-12 {
    width: 60vw;
  }

  .div-block-17 {
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    display: flex;
  }

  .div-block-18 {
    margin-top: 40px;
  }

  .div-block-19 {
    display: block;
  }

  .image-15 {
    max-width: 80vw;
    margin-top: 40px;
  }

  .processdiv, .div-block-22 {
    display: block;
  }

  .div-block-24 {
    grid-template-columns: 1fr;
    display: block;
  }

  .div-block-35, .div-block-36 {
    margin-top: 40px;
  }

  .image-20, .div-block-37 {
    margin-top: 60px;
  }

  .greycontainer {
    width: 95vw;
  }
}

@media screen and (max-width: 767px) {
  .heropname {
    font-size: 20px;
  }

  .div-block {
    flex-flow: column;
    margin-top: 55px;
  }

  .herop {
    font-size: 20px;
    line-height: 38px;
  }

  .div-block-2 {
    max-width: 95vw;
  }

  .div-block-3 {
    width: 85vw;
    margin-top: 55px;
    margin-left: 0;
  }

  .heading2 {
    text-align: left;
    font-size: 46px;
  }

  .workgrid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .outerdiv {
    margin-top: 20px;
  }

  .p {
    max-width: 100%;
  }

  .p.ctap {
    width: 100%;
  }

  .div-block-5 {
    min-height: 250px;
    margin-left: 0;
  }

  .div-block-6 {
    width: 80%;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
    margin-left: 0;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: #1a1b1fbf;
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .div-block-7 {
    justify-content: center;
  }

  .skillgrid {
    grid-template-columns: 1fr 1fr;
  }

  .image-5 {
    max-width: 90vw;
  }

  .form {
    width: 80%;
  }

  .h1subpage {
    font-size: 72px;
  }

  .locationdiv, .locationdiv.firstlocationdiv {
    flex-flow: column;
  }

  .image-7 {
    max-width: 75vw;
  }

  .div-block-9 {
    max-width: 80vw;
    margin-top: 60px;
    margin-left: 0;
  }

  .div-block-9.marginright {
    margin-right: 0;
  }

  .div-block-9.marginleft {
    margin-left: 0;
  }

  .socialproofdiv {
    grid-template-columns: 1fr 1fr;
  }

  .imagevert {
    max-height: 70vw;
  }

  .div-block-11, .div-block-12 {
    margin-top: 60px;
  }

  .smallerimg {
    max-width: 75vw;
  }

  .casestudycontainer {
    flex-flow: column;
  }

  .casestudytext {
    margin-top: 10px;
    margin-left: 0;
  }

  .casestudyimg {
    width: 70vw;
    max-width: 70vw;
  }

  .card {
    margin-top: 40px;
  }

  .list-item {
    margin-top: 8px;
  }

  .boldp {
    max-width: 100%;
  }

  .boldp.ctap {
    width: 100%;
  }

  .image-12 {
    margin-left: 0;
    margin-right: auto;
  }

  .div-block-17 {
    margin-left: auto;
    margin-right: auto;
  }

  .div-block-21 {
    flex-flow: column;
  }

  .image-16 {
    margin-right: auto;
  }

  .div-block-39 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .image-21 {
    float: none;
    max-width: 50%;
    margin: 20px auto;
    display: block;
  }

  .strategyimg {
    float: none;
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .blogheading2 {
    font-size: 46px;
  }

  .blogheading3 {
    font-size: 26px;
  }

  .list-2, .list-3 {
    padding-left: 0;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .heropname {
    font-size: 17px;
  }

  .herop {
    font-size: 16px;
    line-height: 36px;
  }

  .primarybtn, .secondarybtn {
    margin-top: 10px;
  }

  .div-block-3 {
    width: 95vw;
  }

  .paragraph-3 {
    width: 85px;
  }

  .section {
    margin-top: 100px;
  }

  .heading2 {
    text-align: left;
    width: 95vw;
    font-size: 40px;
    line-height: 55px;
  }

  .projectdiv {
    width: 95vw;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
  }

  .p {
    text-align: left;
    margin-top: 20px;
    font-size: 16px;
  }

  .div-block-6 {
    width: 100%;
  }

  .container-3 {
    max-width: none;
  }

  .skillgrid {
    grid-template-columns: 1fr;
  }

  .image-5 {
    max-width: 100%;
  }

  .menu-button {
    margin-top: 0;
    padding-right: 0;
  }

  .form {
    width: 95%;
  }

  .h1subpage {
    font-size: 52px;
    line-height: 68px;
  }

  .image-7 {
    margin-top: 20px;
  }

  .div-block-9, .div-block-9.marginright, .div-block-9.marginleft {
    max-width: 95vw;
  }

  .socialproofdiv {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    max-width: 95vw;
  }

  .mobilebrand {
    margin-top: 20px;
  }

  .mobilebrand.w--current {
    padding-left: 0;
  }

  .casestudycontainer {
    flex-flow: column;
  }

  .casestudytext {
    margin-left: 0;
  }

  .casestudyimg {
    width: 95vw;
    max-width: 95vw;
  }

  .toolsection {
    margin-top: 150px;
  }

  .cardheader {
    margin-left: 20px;
    margin-right: 20px;
  }

  .probagitationtext {
    text-align: left;
  }

  .boldp {
    font-size: 16px;
  }

  .div-block-16 {
    margin-top: 10px;
    padding-right: 0;
  }

  .image-12 {
    width: 95vw;
  }

  .image-15 {
    max-width: 95vw;
  }

  .div-block-20 {
    padding-right: 0;
  }

  .div-block-21 {
    flex-flow: column;
  }

  .image-16 {
    margin-right: auto;
    display: block;
  }

  .div-block-23 {
    padding-right: 0;
  }

  .smallersection {
    margin-top: 150px;
  }

  .list {
    margin-bottom: 60px;
  }

  .blogsection {
    margin-top: 100px;
  }

  .blogheading2 {
    text-align: left;
    width: 95vw;
    font-size: 40px;
    line-height: 55px;
  }

  .greycontainer {
    padding-left: 0;
    padding-right: 0;
  }

  .mainimage, .div-block-45 {
    max-width: 100%;
  }

  .div-block-47 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: column;
    align-items: center;
    display: block;
  }
}

#w-node-_409b3c20-a4fe-a5fa-85a3-53191b193cac-dac0bf68, #w-node-_00dd4ca6-01e5-ec84-a905-1c5293c42f29-dac0bf68, #w-node-b66e6521-50af-e752-81cb-b240ee2bae59-dac0bf68 {
  place-self: center;
}

#w-node-f4bfd50f-e429-9cf8-0ae8-5c5cca91daeb-dac0bf68, #w-node-_4da62c06-b50c-8468-30b5-28b429e2b914-dac0bf68, #w-node-f2300eb6-0206-bca8-79ac-f1a56dc8c169-dac0bf68, #w-node-b96e48d0-75fe-83de-d276-cc15c9f283cb-dac0bf68, #w-node-_278c6ca2-9c12-05b3-1071-7d32036d5625-dac0bf68, #w-node-b3de1118-d0dd-8ef9-c0ad-29778f1c1caa-dac0bf68 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-c89bd3e8-a204-3a3e-5b62-98de8150a88e-dac0bf68 {
  grid-area: span 1 / span 7 / span 1 / span 7;
}

#w-node-dab73562-db92-02f9-b59f-a4f34a21301e-dac0bf68 {
  grid-area: span 1 / span 5 / span 1 / span 5;
  place-self: center;
}

#w-node-a7cd1b94-3602-b8a0-d8ab-8b5a1b899edc-eaa0f120, #w-node-_16bab3b0-df4d-2fd6-4a20-1ffeeaa0f14d-eaa0f120 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_0d6a9cdb-c2dc-5d03-c9ee-0e4b5ff7ed35-7f9dbf43 {
  grid-area: span 1 / span 5 / span 1 / span 5;
}

#w-node-f115b80a-75d1-f0f5-c402-7ce820406d4a-7f9dbf43, #w-node-bb8e0a1a-ef41-15d8-9dbf-4930529606cd-3d88d287 {
  grid-area: span 1 / span 7 / span 1 / span 7;
}

#w-node-bb8e0a1a-ef41-15d8-9dbf-4930529606d8-3d88d287 {
  grid-area: span 1 / span 5 / span 1 / span 5;
  place-self: center;
}

#w-node-_146e2c19-6958-10a1-e2a5-b6d5761bb052-8161b7da, #w-node-b03e2b46-a2b8-a0d5-33ac-2ccda88bbb48-8161b7da, #w-node-b03e2b46-a2b8-a0d5-33ac-2ccda88bbb4d-8161b7da, #w-node-_7b4d92e7-73fb-d9f7-2842-2f3e368eff48-8161b7da {
  place-self: center;
}

#w-node-_7b4d92e7-73fb-d9f7-2842-2f3e368eff4d-8161b7da {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-c01f127c-205f-7bb1-b589-12d9213baa40-8161b7da, #w-node-_1b916783-34c5-80df-4b31-b033dc273dfd-8161b7da {
  place-self: center;
}


